<table>
  <tbody>
  <tr>
    <td width="20%">
      页面名称：
    </td>
    <td width="70%">
      <input type="text" name="pagename" class="form-control"/>
    </td>
  </tr>
  <tr>
    <td width="20%">
      页面链接：
    </td>
    <td>
      <input type="text" name="href" class="form-control"/>
    </td>
  </tr>
  </tbody>
</table>