<div class="modal-dialog">
  <div class="sites-new">
    <div class="control-group success">
      <label for="name"><span class="required">*</span>模板:</label>
      <select name="layout" required="" class="ign-cls">
        <option value="PC-DEFAULT@PC">默认 PC 端模板</option>
      </select>
      <span class="note"><i>×</i> 必填 不得为空</span>
      <span class="note-error-empty"><i>×</i> 必填 不得为空</span>
    </div>
    <div class="control-group">
      <label for="sites-name"><span class="required">*</span>站点名称:</label>

      <input id="sites-id" name="name" type="text" placeholder="请输入站点名称" value="" required="">
      <span class="note"><i>×</i> 必填 不得为空</span>
      <span class="note-error-empty"><i>×</i> 必填 不得为空</span>
    </div>
    <div class="control-group">
      <label for="name"><span class="required">*</span>域名:</label>
      <input id="site-domain" name="domain" type="text" placeholder="请输入站点域名" value="" required="">
      <span class="note"><i>×</i> 必填 不得为空</span>
      <span class="note-error-empty"><i>×</i> 必填 不得为空</span>
    </div>
  </div>
</div>