.eevee-insert-center {
  display: inline-block;
  width: 1200px;
}
.eevee-insert-row {
  text-align: left;
}
.ZCY-eevee-page-controller-content {
  .page-list-container {
    .serverSet {
      input {
        border-radius: 7px;
        margin: 10px 0;
      }
    }
  }
}
.zcyEvE-comps-edit-modal {
  .modal-dialog {
    width: 900px;
  }
}
.zcyEvE-comps-edit-modal {
  .btn {
    padding: 7px 20px;
  }
  .btn-cancel {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
}