<h1 class="center">前台页面现状（WHY NEW）<br/></h1>
<h2>
  1、各个业务端的组件没有统一，前期都是依赖网超组件，通过代码复制，二次修改进行页面开发。<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;造成了一旦网超组件更新迭代，相应的业务线都要重新进行二次开发，发版测试。
</h2><br/><br/>
<h2>
  2、各个业务线的前台页面，更新迭代版本不一致，造成了不同页面，不同业务线风格都不一致。
</h2>
<br/><br/>
<h2>
  3、现有装修依赖于网超，耦合度高。
</h2>
<br/><br/>
<h2>
  4、现有装修操作界面难度较高，布局样式都需要运营进行大成本的人力操作。
</h2>
<br/><br/>
<h2>
  5、无法进行页面的差异化配置。
</h2>
<br/><br/>
<h2>
  6、无法全局进行布局更改。只能每个区划进行更改，人力成本高
</h2>
<br/><br/>