<h1 class="center">新装修特点<br/></h1>
<h2>
  1、统一组件库，全网装修使用一套组件库，进行统一的维护和更改。
</h2><br/><br/>
<h2>
  2、前台页面统一入口，可以进行统一的维护 + 更新。
</h2>
<br/><br/>
<h2>
  3、独立的服务器 + 独立的数据库 + 独立的后台，只需要调用服务接口，就可以进行页面装修，无需新建项目。
</h2>
<br/><br/>
<h2>
  4、操作界面更加人性化，更加智能化。
</h2>
<br/><br/>
<h2>
  5、可以对不同区划、不同页面、不同用户(开发中)进行不同的适配，展现不同的页面效果。
</h2>
<br/><br/>
<h2>
  6、加入模板的概念，可以全网更改布局，更改一次，全网生效。减少了人力成本
</h2>
<br/><br/>
<h2>
  7、可以快速建站，本地生成完整项目，用于网站集群装修。
</h2>
<br/><br/>