<h1 class="center">一年计划<br/></h1>
<h2>
  1、客户端产品
</h2><br/><br/>
<h2>
  2、前端爬虫工具
</h2>
<br/><br/>
<h2>
  3、店铺装修 （可针对商品id进行装修，类似淘宝店铺装修）
</h2>
<br/><br/>
<h2>
  4、装修系统升级为装修平台。集成到客户端中，独立的权限、独立服务器。供应商可以自主装修，可收费。
</h2>
