<table>
  <tbody>
  <tr>
    <td width="20%">
      分组名称：
    </td>
    <td width="60%">
      <input type="text" name="groupName" class="form-control"/>
    </td>
  </tr>
  <tr>
    <td>
      分组ID：
    </td>
    <td>
      <input type="text" name="groupID" class="form-control" />
    </td>
  </tr>
  <tr>
    <td width="20%">
      分组描述：
    </td>
    <td>
      <textarea name="groupword" class="form-control"></textarea>
    </td>
  </tr>
  </tbody>
</table>