.eve-image {
  img {
    width: 202px;
  }
  .text-content {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    padding: 9px 3px 9px 10px;
    border-left: 1px solid #ddd;
    margin-left: 9px;
  }
}